{% extends "base.html" %} {% block content %}
<div class="page-content">
    <div class="text-center mt-5">
        <h1
            style="
                color: #4338ca;
                font-weight: 700;
                margin-bottom: 10px;
                font-family: 'Source Sans Pro', sans-serif;
            ">
            Welcome to the Dashboard
        </h1>
        <p class="lead">
            Explore the traffic crashes statistics by navigating through the
            menu.
        </p>
        <div class="slogan">“Insights That Drive Safer Journeys”</div>
        {% if session.get('user_id') %}
        <a
            href="{{ url_for('location.location_landing') }}"
            class="btn btn-purple btn-lg"
            role="button">
            View Location Overview
        </a>
        {% else %}
        <a
            href="{{ url_for('auth.login') }}"
            class="btn btn-primary btn-lg me-2"
            >Login</a
        >
        <a
            href="{{ url_for('auth.register') }}"
            class="btn btn-outline-primary btn-lg"
            >Register</a
        >
        {% endif %}
    </div>
</div>
{% endblock %}
